html {
    font-size: 16px;
}

body {
    background-color: #83c5be;
    padding:0;
    margin:0;
    font-family: Georgia;
}

.grid {
    display: grid;
  }
  
  .container {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  nav {
      background-color: #006d77;
      color:#edf6f9;
      text-align: center;
  }

  footer {
    background-color: #006d77;
    color:#edf6f9;
    text-align: center;
}

 h2 {
    color: #006d77;
    text-align: center;
    font-size: 3rem;
}

 h1 {
     font-size: 3.5rem;
 }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    display: inline-block;
    margin: 0 50px;
  }

  header {
      background-color: #e29578;
      color: #edf6f9;
      text-align: center;
      font-family: 'Playfair Display'
  }
  
  @media only screen and (max-width: 800px){
    .container {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 1fr);
      width:100%;
      grid-gap: 10px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 800px){
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      grid-gap: 10px;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }